body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:959px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2481 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u2482 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:70px;
  width:375px;
  height:667px;
}
#u2482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:30px;
}
#u2484 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:70px;
  width:375px;
  height:29px;
  color:#FFFFFF;
}
#u2484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:79px;
  width:27px;
  height:12px;
  color:#FFFFFF;
}
#u2486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:6px;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:82px;
  width:17px;
  height:5px;
  color:#FFFFFF;
}
#u2487_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:409px;
  top:82px;
  width:4px;
  height:5px;
  color:#FFFFFF;
}
#u2488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:75px;
  width:80px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2489_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u2490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2491 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:81px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u2491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:81px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u2492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:81px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u2493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:81px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u2494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:81px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u2495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:75px;
  width:80px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u2497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:75px;
  width:63px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:56px;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:100px;
  width:375px;
  height:55px;
  font-size:18px;
  color:#999999;
}
#u2499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:25px;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:116px;
  width:132px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u2501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:138px;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:181px;
  width:350px;
  height:137px;
}
#u2501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:228px;
  width:332px;
  height:1px;
}
#u2502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:271px;
  width:332px;
  height:1px;
}
#u2503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:284px;
  width:10px;
  height:18px;
}
#u2504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:241px;
  width:10px;
  height:18px;
}
#u2505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2506 {
  position:absolute;
  left:369px;
  top:188px;
}
#u2506_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:41px;
  height:31px;
  background-image:none;
}
#u2506_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  height:15px;
}
#u2508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:2px;
  width:28px;
  height:28px;
}
#u2509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2506_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:39px;
  height:32px;
  visibility:hidden;
  background-image:none;
}
#u2506_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:36px;
  height:15px;
}
#u2512_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:28px;
  height:29px;
}
#u2513_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:183px;
  width:179px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u2515_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u2516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:33px;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:198px;
  width:211px;
  height:32px;
  font-size:10px;
  color:#C9C9C9;
  text-align:left;
}
#u2516_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u2517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:228px;
  width:179px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u2517_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u2518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:33px;
}
#u2518 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:243px;
  width:211px;
  height:32px;
  font-size:10px;
  color:#C9C9C9;
  text-align:left;
}
#u2518_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u2519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:273px;
  width:179px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u2519_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u2520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:33px;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:287px;
  width:211px;
  height:32px;
  font-size:10px;
  color:#C9C9C9;
  text-align:left;
}
#u2520_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u2521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:138px;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:394px;
  width:350px;
  height:137px;
}
#u2521_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:441px;
  width:332px;
  height:1px;
}
#u2522_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:484px;
  width:332px;
  height:1px;
}
#u2523_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u2524 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:497px;
  width:10px;
  height:18px;
}
#u2524_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u2525 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:454px;
  width:10px;
  height:18px;
}
#u2525_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u2526 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:403px;
  width:40px;
  height:35px;
  color:#FFFFFF;
  text-align:left;
}
#u2526_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u2527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u2527 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:448px;
  width:69px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u2527_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u2528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u2528 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:490px;
  width:69px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u2528_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u2529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:408px;
  width:10px;
  height:18px;
}
#u2529_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:302px;
  height:19px;
}
#u2532p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:298px;
  height:6px;
}
#u2532p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:8px;
}
#u2532p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:2px;
}
#u2532p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u2532p002 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:-10px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2532p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:22px;
  height:22px;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:294px;
  width:293px;
  height:1px;
}
#u2532_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:8px;
}
#u2533 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:290px;
  width:9px;
  height:7px;
}
#u2533_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:118px;
}
#u2534 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:268px;
  width:128px;
  height:118px;
}
#u2534_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:386px;
  width:121px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2535_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:64px;
  width:375px;
  height:667px;
}
#u2539_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:30px;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:64px;
  width:375px;
  height:29px;
  color:#FFFFFF;
}
#u2541_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:13px;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:73px;
  width:27px;
  height:12px;
  color:#FFFFFF;
}
#u2543_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:6px;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:925px;
  top:76px;
  width:17px;
  height:5px;
  color:#FFFFFF;
}
#u2544_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:76px;
  width:4px;
  height:5px;
  color:#FFFFFF;
}
#u2545_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:873px;
  top:69px;
  width:80px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2546_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:75px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u2548_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:75px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u2549_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:75px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u2550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:75px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u2551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:75px;
  width:6px;
  height:6px;
  color:#FFFFFF;
}
#u2552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:15px;
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:741px;
  top:69px;
  width:80px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2553_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u2554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:69px;
  width:63px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:56px;
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:94px;
  width:375px;
  height:55px;
  font-size:18px;
  color:#999999;
}
#u2556_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:25px;
}
#u2557 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:110px;
  width:132px;
  height:24px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2557_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u2558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:138px;
}
#u2558 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:175px;
  width:350px;
  height:137px;
}
#u2558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u2559 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:222px;
  width:332px;
  height:1px;
}
#u2559_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:265px;
  width:332px;
  height:1px;
}
#u2560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u2561 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:278px;
  width:10px;
  height:18px;
}
#u2561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u2562 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:235px;
  width:10px;
  height:18px;
}
#u2562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2563 {
  position:absolute;
  left:907px;
  top:182px;
}
#u2563_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:41px;
  height:31px;
  background-image:none;
}
#u2563_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:15px;
}
#u2565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:35px;
  height:15px;
}
#u2565_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:2px;
  width:28px;
  height:28px;
}
#u2566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2563_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:39px;
  height:32px;
  visibility:hidden;
  background-image:none;
}
#u2563_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:15px;
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:8px;
  width:36px;
  height:15px;
}
#u2569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u2570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:28px;
  height:29px;
}
#u2570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u2572 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:177px;
  width:179px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u2572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u2573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:33px;
}
#u2573 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:192px;
  width:211px;
  height:32px;
  font-size:10px;
  color:#C9C9C9;
  text-align:left;
}
#u2573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u2574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u2574 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:222px;
  width:179px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u2574_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u2575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:33px;
}
#u2575 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:237px;
  width:211px;
  height:32px;
  font-size:10px;
  color:#C9C9C9;
  text-align:left;
}
#u2575_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u2576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u2576 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:267px;
  width:179px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u2576_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:175px;
  word-wrap:break-word;
}
#u2577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:33px;
}
#u2577 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:281px;
  width:211px;
  height:32px;
  font-size:10px;
  color:#C9C9C9;
  text-align:left;
}
#u2577_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:207px;
  word-wrap:break-word;
}
#u2578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:138px;
}
#u2578 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:388px;
  width:350px;
  height:137px;
}
#u2578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u2579 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:435px;
  width:332px;
  height:1px;
}
#u2579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u2580 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:478px;
  width:332px;
  height:1px;
}
#u2580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u2581 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:491px;
  width:10px;
  height:18px;
}
#u2581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u2582 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:448px;
  width:10px;
  height:18px;
}
#u2582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
}
#u2583 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:397px;
  width:40px;
  height:35px;
  color:#FFFFFF;
  text-align:left;
}
#u2583_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u2584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u2584 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:442px;
  width:69px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u2584_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u2585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:33px;
}
#u2585 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:484px;
  width:69px;
  height:32px;
  color:#FFFFFF;
  text-align:left;
}
#u2585_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:65px;
  word-wrap:break-word;
}
#u2586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u2586 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:402px;
  width:10px;
  height:18px;
}
#u2586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2587_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:378px;
  height:397px;
}
#u2587 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:218px;
  width:375px;
  height:394px;
}
#u2587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:347px;
}
#u2589 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:239px;
  width:346px;
  height:346px;
  font-size:18px;
  color:#999999;
}
#u2589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:38px;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:247px;
  width:157px;
  height:37px;
  font-size:20px;
  color:#000000;
  text-align:center;
}
#u2591_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u2592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:296px;
  width:346px;
  height:1px;
}
#u2592_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:33px;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:524px;
  width:296px;
  height:32px;
}
#u2593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:292px;
  word-wrap:break-word;
}
#u2594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:500px;
  width:346px;
  height:1px;
}
#u2594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:345px;
  width:346px;
  height:1px;
  color:#F2F2F2;
}
#u2595_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:398px;
  width:346px;
  height:1px;
  color:#F2F2F2;
}
#u2596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:2px;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:450px;
  width:346px;
  height:1px;
}
#u2597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:307px;
  width:21px;
  height:21px;
  font-size:15px;
}
#u2598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  word-wrap:break-word;
}
#u2599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:22px;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:356px;
  width:61px;
  height:21px;
  font-size:15px;
}
#u2599_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  word-wrap:break-word;
}
#u2600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:418px;
  width:62px;
  height:21px;
  font-size:15px;
}
#u2600_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u2601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:471px;
  width:62px;
  height:21px;
  font-size:15px;
}
#u2601_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:312px;
  width:16px;
  height:16px;
}
#u2602_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2602_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:357px;
  width:16px;
  height:16px;
}
#u2603_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2603_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:418px;
  width:16px;
  height:16px;
}
#u2604_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2604_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:471px;
  width:16px;
  height:16px;
}
#u2605_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2605_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:34px;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:796px;
  width:243px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u2607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:166px;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:839px;
  width:698px;
  height:165px;
  font-size:18px;
  text-align:left;
}
#u2607_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:694px;
  word-wrap:break-word;
}
#u2608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:34px;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:33px;
  width:122px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u2609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:34px;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:583px;
  top:26px;
  width:243px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u2609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
